@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "맑은 고딕", sans-serif;
}
a{text-decoration: none;    color: black;}
li{list-style: none;}

.min{
    width: 100%; height: 150px;
    text-align: center;
    background-color: aqua;
}

.min h1{
    font-size: 33px;
    padding: 20px 0 20px 0;
}

.min p{
    font-size: 20px;
}

.ckw{
    width: 1200px; height: 250px;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    
}

.menu{
    width: 50%; height: 250px;
    text-align: center;
    background-color: lightgray;
    border-radius: 20px 0 0 20px;
}

.menu li{
    margin: 7px 0 6px 0;
}

.menu a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}

.mxs{
    width: 600px; height: 250px;
    padding: 20px;
    background-color: lightyellow;
    border-radius: 0 20px 20px 0;
}

.sks{
    width: 600px; height: 300px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: aquamarine;
    border-radius: 20px ;
    
}
.sks ul{
    padding: 10px;
}

.sks h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.sks a{
    font-size: 20px;
    text-align: center;
}

.sks a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}

footer{
    width: 100%; height: 50px;
    text-align: center;
    background-color: darkgray;
    padding: 10px 0 0 0;
    font-size: 18px;
}